.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.messageImg {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.messageTop {
  display: flex;
}
.messageText {
  padding: 5px 10px;
  border-radius: 5px;
  /* background-color: #1877f2; */
  background-color: #4782cf;
  color: white;
  max-width: 300px;
}

.messageBottom {
  font-size: 12px;
  margin-top: 10px;
}

/* own message */

.message.own {
  align-items: flex-end;
}

.message.own .messageText {
  background-color: rgb(245, 241, 241);
  color: black;
}
