@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Work+Sans:wght@300&display=swap");
.App {
  min-height: 100vh;
  /* display: flex; */
  background-image: url(./assets/background.png);
  /* background-color: #555; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}
/* for chrome */
::-webkit-scrollbar {
  display: none;
}
/* this is also working... */
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
